<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileprog.chap1.gogobus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobileprog.chap1.gogobus.UpdatePassword"></activity>
        <activity android:name="com.mobileprog.chap1.gogobus.UpdateProfile" />
        <activity android:name="com.mobileprog.chap1.gogobus.ProfileActivity" />
        <activity android:name="com.mobileprog.chap1.gogobus.PasswordActivity" />
        <activity android:name="com.mobileprog.chap1.gogobus.RegistrationActivity" />
        <activity android:name="com.mobileprog.chap1.gogobus.SecondActivity" />
        <activity android:name="com.mobileprog.chap1.gogobus.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>